asgiref==3.11.1
Django==4.2.29
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==12.1.1
PyMySQL==1.1.2
sqlparse==0.5.5
tzdata==2025.3
dj-database-url==3.1.2
cryptography==46.0.5
pymysql==1.1.2
whitenoise[brotli]==6.7.0
